<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

    </style>
</head>

<body>
    <h1>
        Sayt title
    </h1>

    <div>
        {% if user.is_authenticated %}
        <a href="/admin/">Admin panelga o'tish</a>
        <a href="/fill-data/">Excel orqali ma'lumot qo'shish</a>
        <a href="https://google.uz">Saytni ko'rish</a>
        {% endif %}
    </div>
</body>

</html>